body{background-color: rgb(185, 215, 241);}
h1{color: rgb(31, 226, 226);}
h2{color: black;}
h3{color: blue;}
h4{color: crimson;}
h5{color:  rgb(13, 82, 82);}
h6{color: rgb(124, 235, 13);}
p{background-color: rgb(209, 174, 128);}
